In [171]:
import pandas as pd
import numpy as np
import datetime
import math as mat
import time

In [172]:
jobs_df = pd.read_csv('july-2017-thru-june-2018.txt', sep='|')

C:\Users\jnske\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [173]:
jobs_df.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName
0,15806649,15806649,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,WOODWARD_TCP-x-228324-x-228324-x-301-x-Multi_A...
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...
2,15806670,15806670,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,WOODWARD_TCP-x-215607-x-215607-x-301-x-Multi_A...
3,15806671,15806671,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,WOODWARD_TCP-x-116214-x-116214-x-1701-x-Multi_...
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21

Are there any nodes that fail more than the other ones?

In [174]:
jobs_df.State.unique()

array(['COMPLETED', 'TIMEOUT', 'CANCELLED by 29607', 'FAILED',
       'CANCELLED by 454080', 'CANCELLED by 100684',
       'CANCELLED by 667840', 'CANCELLED by 660360',
       'CANCELLED by 481000', 'CANCELLED by 0', 'CANCELLED by 229215',
       'CANCELLED by 633620', 'CANCELLED by 207302',
       'CANCELLED by 124006', 'CANCELLED by 112602',
       'CANCELLED by 172079', 'CANCELLED by 199052',
       'CANCELLED by 156369', 'CANCELLED by 389801', 'NODE_FAIL',
       'CANCELLED by 123148', 'CANCELLED by 501421',
       'CANCELLED by 525961', 'CANCELLED by 352698',
       'CANCELLED by 169859', 'CANCELLED by 144605', 'CANCELLED by 85636',
       'CANCELLED by 240352', 'CANCELLED by 195638',
       'CANCELLED by 534784', 'CANCELLED by 379605',
       'CANCELLED by 308082', 'CANCELLED by 28075', 'CANCELLED by 337100',
       'CANCELLED by 497968', 'CANCELLED by 485800',
       'CANCELLED by 237813', 'CANCELLED by 504485',
       'CANCELLED by 174942', 'CANCELLED by 171742',
       'CANCELLED by 584640', 'CANCELLED by 115292', 'CANCELLED by 29605',
       'PREEMPTED', 'CANCELLED by 169950', 'CANCELLED by 465700',
       'CANCELLED by 233240', 'CANCELLED by 90423', 'CANCELLED by 693461',
       'CANCELLED by 348967', 'CANCELLED by 234826',
       'CANCELLED by 234804', 'CANCELLED by 543102', 'CANCELLED by 20003',
       'CANCELLED by 423460', 'CANCELLED by 565201',
       'CANCELLED by 446300', 'CANCELLED by 467740',
       'CANCELLED by 141409', 'CANCELLED by 1010', 'CANCELLED by 496200',
       'CANCELLED by 229251', 'CANCELLED by 478081', 'CANCELLED by 89762',
       'CANCELLED by 360640', 'CANCELLED by 342713',
       'CANCELLED by 114701', 'CANCELLED by 79207', 'CANCELLED by 175942',
       'CANCELLED by 155042', 'CANCELLED by 233927',
       'CANCELLED by 488480', 'CANCELLED by 355660',
       'CANCELLED by 391003', 'CANCELLED by 233286',
       'CANCELLED by 338343', 'CANCELLED by 116648',
       'CANCELLED by 169069', 'CANCELLED by 40091', 'CANCELLED by 645260',
       'CANCELLED by 645280', 'CANCELLED by 232071',
       'CANCELLED by 347007', 'CANCELLED by 337620',
       'CANCELLED by 397061', 'CANCELLED by 233611', 'CANCELLED by 57935',
       'CANCELLED by 68906', 'CANCELLED by 5007', 'CANCELLED by 606781',
       'CANCELLED by 196742', 'CANCELLED by 657361',
       'CANCELLED by 195064', 'CANCELLED by 59223', 'CANCELLED by 559643',
       'CANCELLED by 229226', 'CANCELLED by 480981',
       'CANCELLED by 344973', 'CANCELLED by 171302',
       'CANCELLED by 558123', 'CANCELLED by 222580',
       'CANCELLED by 483348', 'CANCELLED by 473722',
       'CANCELLED by 587640', 'CANCELLED by 229312',
       'CANCELLED by 161909', 'CANCELLED by 229206',
       'CANCELLED by 280920', 'CANCELLED by 478077', 'CANCELLED by 96504',
       'CANCELLED by 200524', 'CANCELLED by 675940',
       'CANCELLED by 502965', 'CANCELLED by 233839',
       'CANCELLED by 200701', 'CANCELLED by 170616',
       'CANCELLED by 199755', 'CANCELLED by 497281', 'CANCELLED by 20725',
       'CANCELLED by 198602', 'CANCELLED by 349259',
       'CANCELLED by 170833', 'CANCELLED by 451700',
       'CANCELLED by 199766', 'CANCELLED by 173073',
       'CANCELLED by 339163', 'CANCELLED by 199086',
       'CANCELLED by 172396', 'CANCELLED by 171798', 'CANCELLED by 34298',
       'CANCELLED by 231603', 'CANCELLED by 9997', 'CANCELLED by 470960',
       'CANCELLED by 173433', 'CANCELLED by 242400',
       'CANCELLED by 175115', 'CANCELLED by 117632',
       'CANCELLED by 298060', 'CANCELLED by 158061',
       'CANCELLED by 663880', 'CANCELLED by 664085',
       'CANCELLED by 234344', 'CANCELLED by 348785',
       'CANCELLED by 515423', 'CANCELLED by 126986',
       'CANCELLED by 175195', 'CANCELLED by 159541',
       'CANCELLED by 555240', 'CANCELLED by 30100', 'CANCELLED by 421502',
       'CANCELLED by 688481', 'CANCELLED by 93631', 'CANCELLED by 1005',
       'CANCELLED by 409540', 'CANCELLED by 377140', 'CANCELLED by 99901',
       'CANCELLED by 197514', 'CANCELLED by 176870', 'CANCELLED by 5009',
       'CANCELLED by 234991', 'CANCELLED by 335225',
       'CANCELLED by 121574', 'CANCELLED by 352796',
       'CANCELLED by 141603', 'CANCELLED by 233949',
       'CANCELLED by 175381', 'CANCELLED by 346276',
       'CANCELLED by 164282', 'CANCELLED by 536741',
       'CANCELLED by 113209', 'CANCELLED by 87722', 'CANCELLED by 260643',
       'CANCELLED by 198781', 'CANCELLED by 171357', 'CANCELLED by 82877',
       'CANCELLED by 176812', 'CANCELLED by 667321',
       'CANCELLED by 524189', 'CANCELLED by 232979',
       'CANCELLED by 156547', 'CANCELLED by 607300',
       'CANCELLED by 175929', 'CANCELLED by 574202',
       'CANCELLED by 112870', 'CANCELLED by 621980',
       'CANCELLED by 103978', 'CANCELLED by 112888',
       'CANCELLED by 201849', 'CANCELLED by 337422',
       'CANCELLED by 163851', 'CANCELLED by 233674',
       'CANCELLED by 171004', 'CANCELLED by 735540',
       'CANCELLED by 162009', 'CANCELLED by 353986',
       'CANCELLED by 174850', 'CANCELLED by 558341',
       'CANCELLED by 427821', 'CANCELLED by 169937',
       'CANCELLED by 471960', 'CANCELLED by 731860',
       'CANCELLED by 255620', 'CANCELLED by 623680',
       'CANCELLED by 171328', 'CANCELLED by 353983',
       'CANCELLED by 229109', 'CANCELLED by 111765',
       'CANCELLED by 199092', 'CANCELLED by 16903', 'CANCELLED by 656864',
       'CANCELLED by 172059', 'CANCELLED by 174209', 'CANCELLED by 28048',
       'CANCELLED by 200581', 'CANCELLED by 237602',
       'CANCELLED by 154932', 'CANCELLED by 674623',
       'CANCELLED by 170568', 'CANCELLED by 124968',
       'CANCELLED by 195640', 'CANCELLED by 645161',
       'CANCELLED by 526520', 'CANCELLED by 196703',
       'CANCELLED by 484992', 'CANCELLED by 566631',
       'CANCELLED by 501425', 'CANCELLED by 232977', 'CANCELLED by 59887',
       'CANCELLED by 315354', 'CANCELLED by 545929',
       'CANCELLED by 124926', 'CANCELLED by 714900',
       'CANCELLED by 551122', 'CANCELLED by 200640',
       'CANCELLED by 483404', 'CANCELLED by 743703',
       'CANCELLED by 353978', 'CANCELLED by 53988', 'CANCELLED by 160745',
       'CANCELLED by 354401', 'CANCELLED by 154990',
       'CANCELLED by 453420', 'CANCELLED by 121890',
       'CANCELLED by 368360', 'CANCELLED by 743040',
       'CANCELLED by 344984', 'CANCELLED by 231297',
       'CANCELLED by 478095', 'CANCELLED by 46963', 'CANCELLED by 334696',
       'CANCELLED by 29644', 'CANCELLED by 171251', 'CANCELLED by 111664',
       'CANCELLED by 196257', 'CANCELLED by 638884',
       'CANCELLED by 504438', 'CANCELLED by 231246',
       'CANCELLED by 479945', 'CANCELLED by 584746',
       'CANCELLED by 712681', 'CANCELLED by 170421',
       'CANCELLED by 708003', 'CANCELLED by 198996',
       'CANCELLED by 103040', 'CANCELLED by 395240',
       'CANCELLED by 651429', 'CANCELLED by 631220',
       'CANCELLED by 645144', 'CANCELLED by 748590',
       'CANCELLED by 712927', 'CANCELLED by 649317',
       'CANCELLED by 640469', 'CANCELLED by 577900',
       'CANCELLED by 155083', 'CANCELLED by 200467',
       'CANCELLED by 322021', 'CANCELLED by 478542',
       'CANCELLED by 143184', 'CANCELLED by 660984', 'CANCELLED by 29789',
       'CANCELLED by 156658', 'CANCELLED by 50427', 'CANCELLED by 623740',
       'CANCELLED by 657618', 'CANCELLED by 342288',
       'CANCELLED by 232963', 'CANCELLED by 45725', 'CANCELLED by 591541',
       'CANCELLED by 318547', 'CANCELLED by 25407', 'CANCELLED by 232756',
       'CANCELLED by 226488', 'CANCELLED by 649321',
       'CANCELLED by 715880', 'CANCELLED by 675240',
       'CANCELLED by 704500', 'CANCELLED by 248940',
       'CANCELLED by 586680', 'CANCELLED by 88934', 'CANCELLED by 136468',
       'CANCELLED by 697860', 'CANCELLED by 598941',
       'CANCELLED by 199062', 'CANCELLED by 76581', 'CANCELLED by 747109',
       'CANCELLED by 159963', 'CANCELLED by 309220',
       'CANCELLED by 177470', 'CANCELLED by 346243',
       'CANCELLED by 674523', 'CANCELLED by 117275',
       'CANCELLED by 236022', 'CANCELLED by 19088', 'CANCELLED by 696220',
       'CANCELLED by 204903', 'CANCELLED by 232742',
       'CANCELLED by 354701', 'CANCELLED by 553540',
       'CANCELLED by 482851', 'CANCELLED by 200152',
       'CANCELLED by 128553', 'CANCELLED by 332860',
       'CANCELLED by 756644', 'CANCELLED by 111694',
       'CANCELLED by 315546', 'CANCELLED by 530861',
       'CANCELLED by 235985', 'CANCELLED by 207446',
       'CANCELLED by 236490', 'CANCELLED by 352793',
       'CANCELLED by 236050', 'CANCELLED by 505319',
       'CANCELLED by 315473', 'CANCELLED by 646621',
       'CANCELLED by 171745', 'CANCELLED by 753020',
       'CANCELLED by 745149', 'CANCELLED by 19853', 'CANCELLED by 661782',
       'CANCELLED by 518360', 'CANCELLED by 764102',
       'CANCELLED by 343241', 'CANCELLED by 345883',
       'CANCELLED by 176465', 'CANCELLED by 649319',
       'CANCELLED by 751980', 'CANCELLED by 314420',
       'CANCELLED by 491383', 'CANCELLED by 762584',
       'CANCELLED by 339873', 'CANCELLED by 762604',
       'CANCELLED by 171801', 'CANCELLED by 672289',
       'CANCELLED by 103583', 'CANCELLED by 198805',
       'CANCELLED by 315469', 'CANCELLED by 347540',
       'CANCELLED by 138255', 'CANCELLED by 160027',
       'CANCELLED by 650987', 'CANCELLED by 352764',
       'CANCELLED by 395329', 'CANCELLED by 648455',
       'CANCELLED by 256540', 'CANCELLED by 771170',
       'CANCELLED by 126883', 'CANCELLED by 234983',
       'CANCELLED by 768696', 'CANCELLED by 502974',
       'CANCELLED by 204304', 'CANCELLED by 513037'], dtype=object)

In [175]:
jobs_mask = jobs_df['NodeList'].str[3]!='['
jobs_mask.head()

0    True
1    True
2    True
3    True
4    True
Name: NodeList, dtype: bool

In [176]:
Jobs_df=jobs_df[jobs_mask]
Jobs_df.shape

(12480099, 25)

In [177]:
#Slice the dataframe to show all failed jobs
jobs_failure = Jobs_df[(Jobs_df.State=="NODE_FAIL")]
#jobs_failure = Jobs_df[Jobs_df.State=="NODE_FAIL"]
jobs_failure.State.unique()
# jobs_failure.shape

array(['NODE_FAIL'], dtype=object)

In [178]:
#Drop unused columns
jobs_failed=jobs_failure[['JobID', 'ExitCode', 'State', 'NodeList']]
jobs_failed.head()

             JobID ExitCode      State NodeList
22163  15839577_49      0:0  NODE_FAIL  vmp1342
22166   15839577_2      0:0  NODE_FAIL  vmp1055
22167   15839577_3      0:0  NODE_FAIL  vmp1043
22204  15839577_40      0:0  NODE_FAIL  vmp1342
22205  15839577_41      0:0  NODE_FAIL  vmp1342

In [179]:
#Count how many times each node has failed
pd.DataFrame(jobs_failed.NodeList.value_counts());

In [180]:
#Count how many times every node has been used overall
pd.DataFrame(Jobs_df.NodeList.value_counts());

In [181]:
failed = {}
for key, value in jobs_failed[jobs_failed.State.isin(['NODE_FAIL'])].groupby('NodeList').size().iteritems():
    failed.update({key: value})

In [182]:
failed_df = pd.DataFrame.from_dict(failed, orient='index', columns=["failures"])
# failed_df['node'] = failed_df.index
failed_df.reset_index(level=0, inplace=True)
# failed_df.columns(['node', 'failures'])
failed_df.head()

     index  failures
0  gpu0001         2
1  gpu0002         1
2  gpu0003         1
3  gpu0004         2
4  gpu0005         2

In [183]:
total = {}
for key, value in Jobs_df.groupby('NodeList').size().iteritems():
    total.update({key: value})

In [184]:
total_df = pd.DataFrame.from_dict(total, orient='index', columns=["uses"])
total_df.reset_index(level=0, inplace=True)
total_df.head()

           index     uses
0  None assigned  3470227
1        amn0008      130
2        amn0009      109
3        gpu0001     5891
4        gpu0002     4072

In [185]:
overall_df = pd.merge(total_df, failed_df, how='outer')
overall_df.head()

           index     uses  failures
0  None assigned  3470227       NaN
1        amn0008      130       NaN
2        amn0009      109       NaN
3        gpu0001     5891       2.0
4        gpu0002     4072       1.0

In [186]:
overall_df.shape

(664, 3)

In [187]:
total_df.shape

(664, 2)

In [188]:
overall_df['Pct_Fail'] = ""
overall_df.head()

           index     uses  failures Pct_Fail
0  None assigned  3470227       NaN
1        amn0008      130       NaN
2        amn0009      109       NaN
3        gpu0001     5891       2.0
4        gpu0002     4072       1.0

In [189]:
overall_df['failures'].fillna(0, inplace=True)

In [190]:
overall_df['Pct_Fail']=overall_df.failures/overall_df.uses*100
overall_df.head()

           index     uses  failures  Pct_Fail
0  None assigned  3470227       0.0  0.000000
1        amn0008      130       0.0  0.000000
2        amn0009      109       0.0  0.000000
3        gpu0001     5891       2.0  0.033950
4        gpu0002     4072       1.0  0.024558

In [191]:
overall_df.sort_values("Pct_Fail", ascending = False)

             index   uses  failures   Pct_Fail
42   vm-qa-node004      6       1.0  16.666667
629         vmp595   1018       8.0   0.785855
632         vmp598   1042       7.0   0.671785
626         vmp592   1084       7.0   0.645756
647         vmp692   1117       7.0   0.626679
649         vmp696   1118       7.0   0.626118
24         gpu0022    505       3.0   0.594059
648         vmp695   1097       5.0   0.455789
12         gpu0010   1097       5.0   0.455789
631         vmp597   1099       5.0   0.454959
651         vmp698   1147       5.0   0.435920
9          gpu0007   1198       5.0   0.417362
628         vmp594   1023       4.0   0.391007
650         vmp697   1078       4.0   0.371058
30         gpu0028    275       1.0   0.363636
10         gpu0008   1621       5.0   0.308452
548         vmp425   5442      13.0   0.238883
19         gpu0017   2926       5.0   0.170882
196        vmp1223   7203      11.0   0.152714
14         gpu0012   1529       2.0   0.130804
313        vmp1354  24104      31.0   0.128609
545         vmp422   3957       5.0   0.126358
191        vmp1218   7930      10.0   0.126103
426         vmp301   9193      11.0   0.119656
564         vmp441   8380      10.0   0.119332
566         vmp443   7602       9.0   0.118390
198        vmp1225   8504      10.0   0.117592
524         vmp401   7938       9.0   0.113379
309        vmp1350  21316      24.0   0.112591
532         vmp409   8952      10.0   0.111707
..             ...    ...       ...        ...
238        vmp1279   9846       0.0   0.000000
549         vmp426     57       0.0   0.000000
523         vmp400   4473       0.0   0.000000
446         vmp321   2451       0.0   0.000000
403         vmp217   7234       0.0   0.000000
386        vmp1427  10828       0.0   0.000000
385        vmp1426   6910       0.0   0.000000
384        vmp1425   6243       0.0   0.000000
341        vmp1382  17460       0.0   0.000000
1          amn0008    130       0.0   0.000000
250        vmp1291  28097       0.0   0.000000
247        vmp1288   7866       0.0   0.000000
245        vmp1286  10303       0.0   0.000000
240        vmp1281   7857       0.0   0.000000
237        vmp1278  10548       0.0   0.000000
158        vmp1120  20678       0.0   0.000000
236        vmp1277   9413       0.0   0.000000
235        vmp1276  10447       0.0   0.000000
234        vmp1275  10188       0.0   0.000000
233        vmp1274   8698       0.0   0.000000
229        vmp1270  10364       0.0   0.000000
226        vmp1267  10889       0.0   0.000000
222        vmp1263  15184       0.0   0.000000
221        vmp1262   7315       0.0   0.000000
220        vmp1261  13920       0.0   0.000000
219        vmp1260  14257       0.0   0.000000
218        vmp1259   7659       0.0   0.000000
213        vmp1242  80662       0.0   0.000000
165        vmp1127  19861       0.0   0.000000
663         vmp905      2       0.0   0.000000

[664 rows x 4 columns]

ELIMINATE ERROR CODES FOR USER ERROR