In [1]:
import pandas as pd
import numpy as np
import datetime
import math as mat
import time

In [2]:
jobs_df = pd.read_csv('july-2017-thru-june-2018.txt', sep='|', nrows=1000000)

In [3]:
jobs_df.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName
0,15806649,15806649,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,WOODWARD_TCP-x-228324-x-228324-x-301-x-Multi_A...
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...
2,15806670,15806670,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,WOODWARD_TCP-x-215607-x-215607-x-301-x-Multi_A...
3,15806671,15806671,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,WOODWARD_TCP-x-116214-x-116214-x-1701-x-Multi_...
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21

Are there any nodes that fail more than the other ones?

In [25]:
jobs_df.State.unique()

array(['COMPLETED', 'TIMEOUT', 'CANCELLED by 29607', 'FAILED',
       'CANCELLED by 454080', 'CANCELLED by 100684',
       'CANCELLED by 667840', 'CANCELLED by 660360',
       'CANCELLED by 481000', 'CANCELLED by 0', 'CANCELLED by 229215',
       'CANCELLED by 633620', 'CANCELLED by 207302',
       'CANCELLED by 124006', 'CANCELLED by 112602',
       'CANCELLED by 172079', 'CANCELLED by 199052',
       'CANCELLED by 156369', 'CANCELLED by 389801', 'NODE_FAIL',
       'CANCELLED by 123148', 'CANCELLED by 501421',
       'CANCELLED by 525961', 'CANCELLED by 352698',
       'CANCELLED by 169859', 'CANCELLED by 144605', 'CANCELLED by 85636',
       'CANCELLED by 240352', 'CANCELLED by 195638',
       'CANCELLED by 534784', 'CANCELLED by 379605',
       'CANCELLED by 308082', 'CANCELLED by 28075', 'CANCELLED by 337100',
       'CANCELLED by 497968', 'CANCELLED by 485800',
       'CANCELLED by 237813', 'CANCELLED by 504485',
       'CANCELLED by 174942', 'CANCELLED by 171742',
       'CANCELLED by 584640', 'CANCELLED by 115292', 'CANCELLED by 29605',
       'PREEMPTED', 'CANCELLED by 169950', 'CANCELLED by 465700',
       'CANCELLED by 233240', 'CANCELLED by 90423', 'CANCELLED by 693461',
       'CANCELLED by 348967', 'CANCELLED by 234826',
       'CANCELLED by 234804', 'CANCELLED by 543102', 'CANCELLED by 20003',
       'CANCELLED by 423460', 'CANCELLED by 565201',
       'CANCELLED by 446300', 'CANCELLED by 467740',
       'CANCELLED by 141409', 'CANCELLED by 1010', 'CANCELLED by 496200',
       'CANCELLED by 229251', 'CANCELLED by 478081', 'CANCELLED by 89762',
       'CANCELLED by 360640', 'CANCELLED by 342713',
       'CANCELLED by 114701', 'CANCELLED by 79207', 'CANCELLED by 175942',
       'CANCELLED by 155042', 'CANCELLED by 233927',
       'CANCELLED by 488480', 'CANCELLED by 355660',
       'CANCELLED by 391003', 'CANCELLED by 233286',
       'CANCELLED by 338343', 'CANCELLED by 116648',
       'CANCELLED by 169069', 'CANCELLED by 40091', 'CANCELLED by 645260',
       'CANCELLED by 645280', 'CANCELLED by 232071',
       'CANCELLED by 347007', 'CANCELLED by 337620',
       'CANCELLED by 397061', 'CANCELLED by 233611', 'CANCELLED by 57935',
       'CANCELLED by 68906', 'CANCELLED by 5007', 'CANCELLED by 606781',
       'CANCELLED by 196742', 'CANCELLED by 657361',
       'CANCELLED by 195064', 'CANCELLED by 59223', 'CANCELLED by 559643',
       'CANCELLED by 229226', 'CANCELLED by 480981',
       'CANCELLED by 344973', 'CANCELLED by 171302',
       'CANCELLED by 558123', 'CANCELLED by 222580',
       'CANCELLED by 483348', 'CANCELLED by 473722',
       'CANCELLED by 587640', 'CANCELLED by 229312',
       'CANCELLED by 161909', 'CANCELLED by 229206',
       'CANCELLED by 280920', 'CANCELLED by 478077', 'CANCELLED by 96504',
       'CANCELLED by 200524', 'CANCELLED by 675940'], dtype=object)

In [4]:
jobs_mask = jobs_df['NodeList'].str[3]!='['
jobs_mask.head()

0    True
1    True
2    True
3    True
4    True
Name: NodeList, dtype: bool

In [5]:
Jobs_df=jobs_df[jobs_mask]
Jobs_df.shape

(999112, 25)

In [127]:
#Slice the dataframe to show all failed jobs
jobs_failure = Jobs_df[(Jobs_df.State=="FAILED") | (Jobs_df.State=="NODE_FAIL")]
#jobs_failure = Jobs_df[Jobs_df.State=="NODE_FAIL"]
jobs_failure.State.unique()
# jobs_failure.shape

array(['FAILED', 'NODE_FAIL'], dtype=object)

In [128]:
#Drop unused columns
jobs_failed=jobs_failure[['JobID', 'ExitCode', 'State', 'NodeList']]
jobs_failed.head()

        JobID ExitCode   State NodeList
386  15812080      1:0  FAILED  vmp1106
441  15812174      1:0  FAILED  vmp1119
453  15812190      1:0  FAILED  vmp1122
537  15812298      1:0  FAILED  vmp1090
543  15812304      1:0  FAILED  vmp1091

In [103]:
#Count how many times each node has failed
pd.DataFrame(jobs_failed.NodeList.value_counts());

In [104]:
#Count how many times every node has been used overall
pd.DataFrame(Jobs_df.NodeList.value_counts());

In [131]:
failed = {}
for key, value in jobs_failed[jobs_failed.State.isin(['FAILED', 'NODE_FAIL'])].groupby('NodeList').size().iteritems():
    failed.update({key: value})

In [132]:
failed_df = pd.DataFrame.from_dict(failed, orient='index', columns=["failures"])
# failed_df['node'] = failed_df.index
failed_df.reset_index(level=0, inplace=True)
# failed_df.columns(['node', 'failures'])
failed_df.head()

           index  failures
0  None assigned        45
1        gpu0001       141
2        gpu0002       142
3        gpu0003       100
4        gpu0004       105

In [133]:
total = {}
for key, value in Jobs_df.groupby('NodeList').size().iteritems():
    total.update({key: value})

In [134]:
total_df = pd.DataFrame.from_dict(total, orient='index', columns=["uses"])
total_df.reset_index(level=0, inplace=True)
total_df.head()

           index   uses
0  None assigned  45518
1        gpu0001    857
2        gpu0002    571
3        gpu0003    770
4        gpu0004    628

In [135]:
overall_df = pd.merge(total_df, failed_df, how='outer')
overall_df.head()

           index   uses  failures
0  None assigned  45518      45.0
1        gpu0001    857     141.0
2        gpu0002    571     142.0
3        gpu0003    770     100.0
4        gpu0004    628     105.0

In [136]:
overall_df.shape

(574, 3)

In [137]:
total_df.shape

(574, 2)

In [138]:
overall_df['Pct_Fail'] = ""
overall_df.head()

           index   uses  failures Pct_Fail
0  None assigned  45518      45.0
1        gpu0001    857     141.0
2        gpu0002    571     142.0
3        gpu0003    770     100.0
4        gpu0004    628     105.0

In [139]:
overall_df['failures'].fillna(0, inplace=True)

In [140]:
overall_df['Pct_Fail']=overall_df.failures/overall_df.uses*100
overall_df.head()

           index   uses  failures   Pct_Fail
0  None assigned  45518      45.0   0.098862
1        gpu0001    857     141.0  16.452742
2        gpu0002    571     142.0  24.868651
3        gpu0003    770     100.0  12.987013
4        gpu0004    628     105.0  16.719745

In [141]:
overall_df.sort_values("Pct_Fail", ascending = False)

             index   uses  failures   Pct_Fail
503         vmp465     10       9.0  90.000000
468         vmp430      8       7.0  87.500000
299        vmp1370   3350    1944.0  58.029851
538         vmp588     64      37.0  57.812500
304        vmp1375   2833    1549.0  54.677021
302        vmp1373   2350    1245.0  52.978723
301        vmp1372   2513    1323.0  52.646240
300        vmp1371   1798     816.0  45.383760
5          gpu0005    447     168.0  37.583893
464         vmp425    907     332.0  36.604190
426         vmp387    146      53.0  36.301370
303        vmp1374   1933     677.0  35.023280
405         vmp364    462     160.0  34.632035
342         vmp239    105      35.0  33.333333
487         vmp449    312     103.0  33.012821
117        vmp1108   2250     698.0  31.022222
294        vmp1365    400     121.0  30.250000
406         vmp365    401     115.0  28.678304
445         vmp406      7       2.0  28.571429
545         vmp597   1019     287.0  28.164868
561         vmp692   1034     289.0  27.949710
165        vmp1221    198      55.0  27.777778
8          gpu0008    436     118.0  27.064220
509         vmp472    571     154.0  26.970228
298        vmp1369   2150     571.0  26.558140
334         vmp231    924     245.0  26.515152
458         vmp419   1671     435.0  26.032316
224        vmp1294    286      73.0  25.524476
2          gpu0002    571     142.0  24.868651
319         vmp215    909     226.0  24.862486
..             ...    ...       ...        ...
501         vmp463    259      13.0   5.019305
555         vmp684   5680     284.0   5.000000
573         vmp736   8267     400.0   4.838515
30         vmp1019   4986     239.0   4.793422
425         vmp386    753      36.0   4.780876
39         vmp1028   4089     186.0   4.548789
50         vmp1039   4201     190.0   4.522733
362         vmp321    245      11.0   4.489796
28         vmp1017   3656     158.0   4.321663
422         vmp382    331      14.0   4.229607
90         vmp1080   8599     360.0   4.186533
29         vmp1018   6291     262.0   4.164680
7          gpu0007    247      10.0   4.048583
78         vmp1068   6682     258.0   3.861119
522         vmp485    369      14.0   3.794038
520         vmp483    476      18.0   3.781513
550         vmp670   7052     264.0   3.743619
566         vmp729   4792     177.0   3.693656
551         vmp671  18684     688.0   3.682295
467         vmp429     28       1.0   3.571429
497         vmp459    618      22.0   3.559871
15         vmp1001  18199     637.0   3.500192
559         vmp689  10508     363.0   3.454511
553         vmp682   7642     252.0   3.297566
549         vmp669  13705     341.0   2.488143
552         vmp681  10189     253.0   2.483070
548         vmp668    590      14.0   2.372881
547         vmp667  27926     403.0   1.443100
0    None assigned  45518      45.0   0.098862
14         gpu0014      3       0.0   0.000000

[574 rows x 4 columns]

ELIMINATE ERROR CODES FOR USER ERROR