In [2]:
import pandas as pd
import numpy as np
import datetime 
import math as mat
import time 
from datetime import timedelta
import matplotlib.pyplot as plt
import re

In [3]:
# Import the csv file
accre_df=pd.read_csv('Data/july-2017-thru-june-2018.txt',sep="|",nrows=1000000)

In [5]:
# see what the data looks like
accre_df.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName
0,15806649,15806649,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,WOODWARD_TCP-x-228324-x-228324-x-301-x-Multi_A...
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...
2,15806670,15806670,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,WOODWARD_TCP-x-215607-x-215607-x-301-x-Multi_A...
3,15806671,15806671,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02T00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,WOODWARD_TCP-x-116214-x-116214-x-1701-x-Multi_...
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01T05:00:00,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21

In [6]:
accre_df['Elapsed'].head(6)

0    1-01:05:21
1      23:51:47
2    1-01:59:51
3    1-08:02:20
4      00:00:10
5      00:03:18
Name: Elapsed, dtype: object


## Elapsed time is equal to difference between end and start time

# convert the start, end and elapsed time from str to datetime format to calculate job duration

In [7]:
accre_df['Submit']=pd.to_datetime(accre_df['Submit'])

In [8]:
accre_df['Start']=pd.to_datetime(accre_df['Start'])

In [9]:
accre_df['End']=pd.to_datetime(accre_df['End'])

# calculate Elaspsed time for jobs

In [10]:
accre_df['Elapsed']=accre_df['End']-accre_df['Start']

In [11]:
accre_df.shape

(1000000, 25)

In [12]:
accre_df.head()

,JobID,JobIDRaw,Cluster,Partition,Account,Group,GID,User,UID,Submit,...,State,NNodes,NCPUS,ReqCPUS,ReqMem,ReqGRES,ReqTRES,Timelimit,NodeList,JobName
0,15806649,15806649,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1085,WOODWARD_TCP-x-228324-x-228324-x-301-x-Multi_A...
1,15806664,15806664,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1099,WOODWARD_TCP-x-115174-x-115174-x-301-x-Multi_A...
2,15806670,15806670,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp1126,WOODWARD_TCP-x-215607-x-215607-x-301-x-Multi_A...
3,15806671,15806671,accre,production,h_vuiis,h_vuiis,36052,masispider,NaN,2017-07-02 00:40:58,...,COMPLETED,1,2,2,12Gn,NaN,"cpu=2,mem=12G,node=1",9-04:00:00,vmp230,WOODWARD_TCP-x-116214-x-116214-x-1701-x-Multi_...
4,15811617,15811617,accre,production,cms_samtest,cms_samtest,59297,uscms010,NaN,2017-07-01 05:00:00,...,COMPLETED,1,1,1,4000Mn,NaN,"cpu=1,mem=4000M,node=1",2-00:00:00,vmp1242,bl_aa7c22e04f21

accre_df2.head()

In [13]:
accre_df['Submit'].head()

0   2017-07-02 00:40:58
1   2017-07-02 00:40:58
2   2017-07-02 00:40:58
3   2017-07-02 00:40:58
4   2017-07-01 05:00:00
Name: Submit, dtype: datetime64[ns]

# check data type of Elapsed column

In [14]:
accre_df['Elapsed'].head()

0   1 days 01:05:21
1   0 days 23:51:47
2   1 days 01:59:51
3   1 days 08:02:20
4   0 days 00:00:10
Name: Elapsed, dtype: timedelta64[ns]

In [38]:
accre_select_df=accre_df.loc[:,['Submit','User','JobIDRaw','JobID','Elapsed']]
accre_select_df.head()

               Submit        User  JobIDRaw     JobID         Elapsed
0 2017-07-02 00:40:58  masispider  15806649  15806649 1 days 01:05:21
1 2017-07-02 00:40:58  masispider  15806664  15806664 0 days 23:51:47
2 2017-07-02 00:40:58  masispider  15806670  15806670 1 days 01:59:51
3 2017-07-02 00:40:58  masispider  15806671  15806671 1 days 08:02:20
4 2017-07-01 05:00:00    uscms010  15811617  15811617 0 days 00:00:10

In [39]:
accre_select_df.Submit=pd.to_datetime(accre_select_df.Submit)

In [40]:
accre_select_df.Elapsed=pd.to_timedelta(accre_select_df.Elapsed)

In [41]:
accre_select_df.Elapsed.dtype

dtype('<m8[ns]')

# sort the the accre_select_df by Elapsed time and user name in ascending order.

In [42]:
accre_select_df=accre_select_df.sort_values(by=['Submit','User','Elapsed'],ascending=True)

In [43]:
accre_select_df.head()

               Submit      User  JobIDRaw     JobID  Elapsed
4 2017-07-01 05:00:00  uscms010  15811617  15811617 00:00:10
5 2017-07-01 05:00:01   autocms  15811618  15811618 00:03:18
6 2017-07-01 05:00:02      tuos  15811619  15811619 00:02:03
7 2017-07-01 05:00:22  uscms010  15811621  15811621 00:00:10
8 2017-07-01 05:01:01   autocms  15811624  15811624 00:04:47

In [44]:
accre_5_minutes= accre_select_df[accre_select_df.Elapsed<'0 days 00:05:00']

In [45]:
accre_5_minutes.head(10)

                Submit      User  JobIDRaw     JobID  Elapsed
4  2017-07-01 05:00:00  uscms010  15811617  15811617 00:00:10
5  2017-07-01 05:00:01   autocms  15811618  15811618 00:03:18
6  2017-07-01 05:00:02      tuos  15811619  15811619 00:02:03
7  2017-07-01 05:00:22  uscms010  15811621  15811621 00:00:10
8  2017-07-01 05:01:01   autocms  15811624  15811624 00:04:47
9  2017-07-01 05:01:02      tuos  15811625  15811625 00:03:12
31 2017-07-01 05:01:26  vuiiscci  15811649  15811649 00:00:00
33 2017-07-01 05:01:26  vuiiscci  15811651  15811651 00:00:00
34 2017-07-01 05:01:56  uscms010  15811654  15811654 00:02:00
35 2017-07-01 05:02:02   autocms  15811655  15811655 00:02:51

accre_5_minutes_july=accre_5_minutes.loc['Submit'< '2017-07-31 23:59:59']

In [47]:
del(accre_5_minutes['Elapsed'])

In [48]:
accre_5_minutes.head()

               Submit      User  JobIDRaw     JobID
4 2017-07-01 05:00:00  uscms010  15811617  15811617
5 2017-07-01 05:00:01   autocms  15811618  15811618
6 2017-07-01 05:00:02      tuos  15811619  15811619
7 2017-07-01 05:00:22  uscms010  15811621  15811621
8 2017-07-01 05:01:01   autocms  15811624  15811624

# group less than 5 minutes jobs into 4 hours range

In [110]:
grouped_by_4h = accre_5_minutes.groupby('User').rolling('4h', on='Submit').JobIDRaw.count()

In [111]:
grouped_by_4h.head(10)

User      Submit
albertme  2017-07-03 23:15:39    1.0
          2017-07-04 02:59:58    2.0
          2017-07-04 03:04:59    3.0
          2017-07-04 03:10:42    4.0
          2017-07-04 03:16:04    4.0
          2017-07-04 03:34:08    5.0
          2017-07-04 03:38:08    6.0
          2017-07-04 06:03:55    7.0
          2017-07-04 17:09:39    1.0
          2017-07-04 17:12:48    2.0
Name: JobIDRaw, dtype: float64

grouped_by_4h=pd.DataFrame(grouped_by_4h).reset_index

In [124]:
# maximum number of jobs the users run in 4 hour ranges
grouped_by_4h_500= grouped_by_4h.groupby('User').max()
grouped_by_4h_500.head()

User
albertme      7.0
anderkj2      9.0
annisj       20.0
arnoldjr      8.0
autocms     242.0
Name: JobIDRaw, dtype: float64

In [126]:
# users running more than 500 jobs in 4 hours ranges

grouped_by_4h_500=grouped_by_4h_500[grouped_by_4h_500>=500]
grouped_by_4h_500

User
bozhanng        604.0
brockc         1234.0
cakira         7683.0
cmsglidein     5541.0
deik            681.0
fletchs2       7670.0
khancm         2443.0
luchieac       1000.0
marlowb        2862.0
mercalnd       7613.0
msrc            955.0
ozgunka         571.0
schildjs       1109.0
schluedj       1005.0
scholzmb       1046.0
sivleyrm        678.0
sotocs         3697.0
teaguedo       2573.0
tierneje       1041.0
vuiiscci       1072.0
wangj36        1224.0
zhangdk       75611.0
Name: JobIDRaw, dtype: float64

# method 2 to find the  point where the users hit the 500th  jobs

In [127]:
accre_5_minutes['cum_count'] = accre_5_minutes.groupby(['User', pd.Grouper(freq='4H', key='Submit')]).cumcount()

C:\Users\fevty\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

# counts of cumulative jobs ran until a given time in 4 hour range

In [130]:
# see top 20 rows
accre_5_minutes.head(20)

                 Submit      User  JobIDRaw         JobID  cum_count
4   2017-07-01 05:00:00  uscms010  15811617      15811617          0
5   2017-07-01 05:00:01   autocms  15811618      15811618          0
6   2017-07-01 05:00:02      tuos  15811619      15811619          0
7   2017-07-01 05:00:22  uscms010  15811621      15811621          1
8   2017-07-01 05:01:01   autocms  15811624      15811624          1
9   2017-07-01 05:01:02      tuos  15811625      15811625          1
31  2017-07-01 05:01:26  vuiiscci  15811649      15811649          0
33  2017-07-01 05:01:26  vuiiscci  15811651      15811651          1
34  2017-07-01 05:01:56  uscms010  15811654      15811654          2
35  2017-07-01 05:02:02   autocms  15811655      15811655          2
36  2017-07-01 05:02:02      tuos  15811656      15811656          2
141 2017-07-01 05:02:05   nagarr1  15811762  15811657_104          0
143 2017-07-01 05:02:05   nagarr1  15811764  15811657_106          1
200 2017-07-01 05:02:05   nagarr1  15811821  15811657_163          2
201 2017-07-01 05:02:05   nagarr1  15811822  15811657_164          3
228 2017-07-01 05:02:05   nagarr1  15811849  15811657_191          4
281 2017-07-01 05:02:05   nagarr1  15811902  15811657_244          5
47  2017-07-01 05:02:05   nagarr1  15811668   15811657_10          6
60  2017-07-01 05:02:05   nagarr1  15811681   15811657_23          7
51  2017-07-01 05:02:05   nagarr1  15811672   15811657_14          8

# total jobs each user run within 4 hours ranges

In [145]:
accre_5_minutes[['User','JobID']].groupby('User').agg('count')

             JobID
User
albertme        21
anderkj2         9
annisj          20
arnoldjr        12
autocms      35786
barnekr1        25
bellcs1          5
beloinsb         1
bentonml         6
bermuc1         37
blocheja         4
bobomf          14
borowsat        50
boydb1         215
bozhanng       604
breyema1        37
brockc       12128
butlej1         13
cakira       15665
calvacfa         1
cartaij        129
chagans        238
chakrs1         46
chenl11         33
cheny38         19
chipmajj       397
cmsglidein   48758
cmslocal       505
cutlerra        10
davislk1         2
...            ...
tanghea          8
teaguedo      9288
tierneje      3095
torstees       216
trippej1       162
truebljs         2
tuos         31832
uscms010     31326
vanzod          36
vastoljj        30
vuiiscci      9052
vuiisdev        28
wangj36       4182
wangj52         46
wangm17         42
wangx38         24
wangy67         14
weiq1           83
weltyv          15
wootendj         3
wul7             8
yangah           1
yangkl         117
youngc9          8
yuh9             1
zhangdk     220050
zhaos          121
zhouy7           3
zhouz8          92
zimrana         42

[157 rows x 1 columns]

# users running more 500 jobs with in 4 hours range

In [137]:
# the point of time the users pass 500th jobs and keep adding them.
accre_5_minutes_500=accre_5_minutes[accre_5_minutes.cum_count>=499]

In [138]:
accre_5_minutes_500.head()

                   Submit      User  JobIDRaw     JobID  cum_count
27713 2017-07-03 21:03:47  fletchs2  15845127  15845127        499
27714 2017-07-03 21:03:47  fletchs2  15845128  15845128        500
27715 2017-07-03 21:03:47  fletchs2  15845129  15845129        501
27716 2017-07-03 21:03:47  fletchs2  15845130  15845130        502
27717 2017-07-03 21:03:47  fletchs2  15845131  15845131        503

In [139]:
# check when Fletch2 exceeded 500th jobs
fletchs_2 =accre_5_minutes_500[accre_5_minutes_500.User =='fletchs2']

In [140]:
fletchs_2.head()

                   Submit      User  JobIDRaw     JobID  cum_count
27713 2017-07-03 21:03:47  fletchs2  15845127  15845127        499
27714 2017-07-03 21:03:47  fletchs2  15845128  15845128        500
27715 2017-07-03 21:03:47  fletchs2  15845129  15845129        501
27716 2017-07-03 21:03:47  fletchs2  15845130  15845130        502
27717 2017-07-03 21:03:47  fletchs2  15845131  15845131        503

In [141]:
# maximum number of jobs the users run within 4 hour ranges
accre_5_minutes_500.groupby('User').max()

                        Submit  JobIDRaw             JobID  cum_count
User
bozhanng   2017-07-12 23:19:03  16131629        16130725_8        603
brockc     2017-07-21 15:30:31  16572675          16572675        841
cakira     2017-07-15 00:33:15  16305703          16305153       4592
cmsglidein 2017-07-28 13:17:48  16818357          16818357       5220
deik       2017-07-14 03:08:38  16229074       16223019_26        680
fletchs2   2017-07-15 02:06:51  16313302          16313302       4427
khancm     2017-07-13 19:54:33  16194253      16190547_997       2442
luchieac   2017-07-13 18:24:03  16188150       16186835_99        999
marlowb    2017-07-24 21:34:20  16672172          16672172       2377
mercalnd   2017-07-27 23:47:54  16798641       16795458_99       6512
msrc       2017-07-28 11:59:57  16813896          16813896        925
schildjs   2017-07-17 21:42:19  16406832        16406832_1        616
schluedj   2017-07-27 03:43:03  16762786        16759882_9        980
scholzmb   2017-07-19 19:07:07  16490806          16490806       1045
sivleyrm   2017-07-20 19:59:48  16541911          16541911        557
sotocs     2017-07-25 00:15:36  16679818      16678584_999       2497
teaguedo   2017-07-19 15:55:31  16487087  16486876_[1-192]       2106
tierneje   2017-07-15 19:41:07  16347506        16347501_6       1040
vuiiscci   2017-07-26 03:02:28  16725892          16725892       1040
wangj36    2017-07-16 19:30:37  16361933     16361917_1135        702
zhangdk    2017-07-25 08:15:18  16704812      16686941_177      75610

result.head(50)